[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stable-baselines3 = {extras = ["extra"], version = "*"}
black = "*"
atari-py = "*"
pyglet = "*"

[dev-packages]

[requires]
python_version = "3.8"
